
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html, body 
{
  height: 100%;
  font-family: 'Antic Slab', serif;
  font-size: 12pt;
}

.container-fluid h1 
{
  font-family: 'Antic Slab', serif;
  font-size: 80px;
  color: #3162a2;
}



.wrap a 
{
  color: #efefef;
  text-decoration: none;
}

.v-center 
{
  margin-top: 7%;
}
  
.wrap h1 
{
  font-family: 'Antic Slab', serif;
  font-size: 55px;
  color: #3162a2;
}


.wrap-no-background h1 
{
  font-family: 'Antic Slab', serif;
  font-size: 40px;
  color: #3162a2;
}
.wrap-no-background h2 
{
  font-family: 'Antic Slab', serif;
  font-size: 40px;
  color: #db7560;
}


#searchResults
{
	font-size: 1.5em;
	color: #65abd0;
}
strong
{
	color: #db7560;
}
em
{
	color: #3162a2;
	font-style: normal;
	font-weight: bold;
}

ul.nav.navbar-nav.navbar-pills > li > a
{
	color: #eee;
	font-size: 14pt;
}
ul.nav.navbar-nav.navbar-pills > li > a:hover
{
	color: #8cb9f2;
}

.navbar-fixed-top
{
	background-color: #3162a2;
	color: #eee;
}


.nav.navbar-nav > li > a
{
    color: #eee;
}
.nav.navbar-nav > li > a:hover
{
    color: #d9c26c;
}


.nav .navbar-nav .navbar-right li a 
{
    color: #eee;
}

.nav .navbar-nav .navbar-right li a:hover
{
    color: #d9c26c;
}


.container-fluid
{
	padding-top: 40px;
	background-color: #f2f5f8;
	padding-bottom: 40px;
}


.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu 
{
	background-color: #f2f5f8;
	color:#444;
}




.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle 
{
	background-color: #24aa98;
	color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar 
{
    background-color: #ffffff;
}
.navbar-default .navbar-toggle
{
	background-color: #24aa98;
}
.navbar-default .navbar-toggle:focus
{
	background-color: #9ad9d1;
}
.navbar-default .navbar-toggle:hover
{
	background-color: #9ad9d1;
}
.col-md-4 .list-group-item:hover
{
	background-color: #24aa98;
	color: #ffffff;
}

.navbar-header, .container > .navbar-collapse
{
	border-bottom: solid 1px #234e86;
}

.navbar-default .navbar-toggle
{
	border: solid 1px #65abd0;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
{
	background-color: #db7560;
	color: #ffffff;
}




@media screen and (max-width: 768px) 
{
    .container-fluid h1
	{
        font-size:28pt;
    }
	.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn
	{
		font-size: 10pt;
	}
}